<footer class="footer">
    <div class="footer-bg">
        <div class="footer-container container grid">
            <div>
                <h1 class="footer-title">Brandon</h1>
                <span class="footer-subtitle">Software Developer</span>
            </div>
            <ul class="footer-links">
                <li>
                    <a href="#experience" class="footer-link">Experience</a>
                </li>
                <li>
                    <a href="#portfolio" class="footer-link">Portfolio</a>
                </li>
                <li>
                    <a href="#contact-me" class="footer-link">Contact me</a>
                </li>
            </ul>
            <div class="footer-socials">
                <a class="footer-social" target="_blank" href="https://linkedin.com">
                    <i class="uil uil-linkedin-alt"></i>
                </a>
            
                <a class="footer-social" target="_blank" href="https://github.com">
                    <i class="uil uil-github-alt"></i>
                </a>
            
                <a class="footer-social" target="_blank" href="https://instagram.com">
                    <i class="uil uil-instagram"></i>
                </a>
            </div>
        </div>
        <p class="footer-copyright">&#169; Brandon Magaña. All rights reserved</p>
    </div>
</footer>
<a href="#" class="scroll-up" id="scroll-up">
    <i class="uil uil-arrow-up scroll-up-icon"></i>
</a>