@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --header-height: 3rem;
    
    /*  Colors  */
    --hue-color: 360;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%); 
    --container-color: #FFF; 

    /* Font sizes */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font  weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /*Margenes bottom*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltip: 10; 
    --z-fixed: 100;
    --z-modal: 1000;    
}
/* Font size for large devices */
@media screen and (min-width: 968px){
    :root{    
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: 'Lato', sans-serif;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);   
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 2rem 0 4rem;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color)
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size); 
    margin-bottom: var(--mb-3); 
}

.section-title, .section-subtitle{
    text-align: center;
}

/* Layout */
.container{
    max-width: 1200px ;
    margin:0 var(--mb-1-5) ;
}

.grid{
    display:grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color:var(--body-color);
}

/* Navbar */
.nav{
    max-width: 1200px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,.nav-toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover{
    color: var(--first-color);
}

.nav-toggle{
    font-size:1.1rem;
    cursor:pointer;
}

.nav-toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav-menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

}

.nav-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-link:hover{
    color: var(--first-color);
}

.nav-icon{
    font-size: 1.2rem;
}

.nav-close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav-close:hover{
    color: var(--first-color-alt)
}

.show-menu{
    bottom: 0;
}

.home-container{
    gap: 1rem;
}

.home-content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home-social{
    display: grid;
    grid-template-columns:max-content;
    row-gap: 1rem;
}

.social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.social-icon:hover{
    color: var(--first-color-alt)
}

.home-blob{
    width: 300px;
    fill: var(--first-color);
}

.home-blob-img{
    width: 150px;
}

.home-data{
    grid-column: 1/3;
}

.home-title{
    font-size: var(--big-font-size);
}

.home-subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home-description{
    margin-bottom: var(--mb-2);
}

.home-scroll-button{
    color: var(--first-color);
    transition: .3s;
}


.home-scroll-button:hover{
    transform: translateY(0.25rem);
}

.home-scroll-name{
    font-size: var(--small-font-size);
    color:var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home-scroll-arrow{
    font-size: 1.55rem;
}

.button{
    display: inline-block;
    background: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button-icon{
    font-size:1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button-flex{
    display: inline-flex;
    align-items: center;
}

.about-img{
    width:200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about-description{
    text-align: center;
    margin-bottom: var(--mb-2-5)
}

.about-info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about-info-title, .about-info-name{
    display: block;
    text-align: center;
}

.about-info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.about-info-name{
    font-size:var(--smaller-font-size)
}

.about-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Skills */

.skills-container{
     row-gap: 0;
}

.skills-header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills-icon, 
.skills-arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills-icon{
    margin-right: var(--mb-0-75);
}

.skills-title{
    font-size: var(--h3-font-size);
}

.skills-subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills-arrow{
    margin-left: auto;
    transition:0.4s;
}

.skills-list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills-titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);

}

.skills-name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills-bar,
.skills-percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills-bar{
    background-color: var(--first-color-lighter);
}

.skills-percentage{
    display: block;
    background-color: var(--first-color);
}

.skills-close .skills-list{
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.skills-open .skills-list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
    transition: .2s;
}

.skills-open .skills-arrow{
    transform: rotate(180deg);
}

/* Experience */
.experience-tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.experience-button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.experience-button:hover{
    color: var(--first-color);
}

.experience-icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.experience-data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.experience-data:nth-child(even){
    text-align: right;
}

.experience-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.experience-subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);

}

.experience-calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.experience-rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.experience-line{
    display:block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.experience [data-content]{
    display:none;
}

.experience-active[data-content]{
    display: block;
}

.experience-button.experience-active{
    color: var(--first-color);
}

/* Footer */

.footer{
    padding-top: 2rem;
}

.footer-container{
    row-gap: 3.5rem;
}

.footer-bg{
    background-color: var(--first-color);
    padding: 2rem 0 3rem;
}

.footer-title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer-subtitle{
    font-size: var(--small-font-size);
}

.footer-links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer-link{
    font-size: var(--h3-font-size);
}
.footer-link:hover{
    color: var(--first-color-lighter);
}

.footer-social{
    font-size: 1.5rem;
    margin-right: var(--mb-1-5);
}

.footer-social:hover{
    color: var(--first-color-lighter);
}
.footer-copyright{
    font-size: var(--smaller-font-size);
    text-align: center;
}

.footer-title,
.footer-subtitle,
.footer-social,
.footer-link,
.footer-copyright{
    color: #FFF;
}

.scroll-up{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0.3rem .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.show-scroll{
    bottom: 5rem;
}

.scroll-up:hover{
    background-color: var(--first-color-alt);
}

.scroll-up-icon{
    color: #FFF;
    font-size: 1.5rem;
}


/* Media Queries*/

/* For small screens*/
@media screen and (max-width:350px){
    .container{
        margin: 0 var(--mb-1);
    }

    .nav-menu{
        padding: 2rem .25rem 4rem;
    }

    .nav-list{
        column-gap: 0;
    }

    .home-content{
        grid-template-columns: .25fr 3fr;
    }
    .home-blob{
        width: 200px;
    }

    .experience-data{
        gap: 0.5rem;
    }
}

/* For medium screens */
@media screen and (min-width:568px){
    .home-content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home-data{
        grid-column:initial;
    }

    .home-blob{
        width: 280px;
    }
    .home-img{
        order: 1;
        justify-self: center;

    }

    .about-container, 
    .footer-container,
    .skills-container{
        grid-template-columns:repeat(2, 1fr)
    }

    .experience-sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .footer-copyright{
        margin-top:2rem;
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left:auto;
        margin-right:auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    
    .section-subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top:0;
        bottom:initial;
    }

    .header, .main, .footer-container{
        padding: 0 1rem
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav-close, .nav-icon, .nav-toggle{
        display:none;
    }

    .nav-list{
        display: flex;
        column-gap: 2rem;
    }

    .nav-menu{
        margin-left: auto;
    }

    .home-content{
        column-gap: 2rem;
        padding-top: 8rem;
    }

    .home-blob{
        width: 320px;
    }

    .home-scroll{
        display:block;
    }

    .home-scroll-button{
        margin-left:3.25rem;
    }

    .about-container{
        column-gap: 5rem;
    }

    .about-img{
        width:350px;
    }

    .about-info{
        justify-content:space-between;
    }

    .about-data{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

    .experience-tabs{
        justify-content:space-evenly;
    }

    .experience-button{
        margin: 0 var(--mb-1);
    }

    .experience-sections{
        grid-template-columns: .5fr;
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-bg{
        padding: 3rem 0 3.5rem;
    }

    .footer-links{
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer-socials{
        justify-self:right;
    }
}

@media screen and (min-width: 1024px){
    .header, .main, .footer-container{
        padding: 0;
    }

    .home-blob{
        width:400px
    }

    .home-social{
        transform: translateX(-6rem);
    }

    .home{
        height: 90vh;
        margin-bottom:0;
    }

    .nav, .nav-link{
        font-size: var(--h3-font-size) !important;
    }
}