<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">
    <link lang="sass" rel="stylesheet" href="./static/styles/main2.css">
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <title>My Portfolio</title>
</head>
<body>
    <header class="header">
        <nav class="nav container">
            <a href="#" class="nav-logo">Brandon</a>
            
            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list grid">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">
                            <i class="uil uil-estate nav-icon"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">
                            <i class="uil uil-user nav-icon" ></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" class="nav-link">
                            <i class="uil uil-laptop nav-icon"></i> Skills
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" class="nav-link">
                            <i class="uil uil-book nav-icon"></i> Experience
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" class="nav-link">
                            <i class="uil uil-suitcase nav-icon"></i> Portfolio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" class="nav-link">
                            <i class="uil uil-message nav-icon"></i> Contact me
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav-close" id="nav-close"></i>
            </div>
            <div class="nav-btns">
                <div class="nav-toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <section class="home section" id="home">
            <div class="home-container container grid">
                <div class="home-content grid">
                    <div class="home-social">
                        <a class="social-icon" target="_blank" href="https://linkedin.com">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                        
                        <a class="social-icon" target="_blank" href="https://github.com">
                            <i class="uil uil-github-alt"></i>
                        </a>
                        
                        <a class="social-icon" target="_blank" href="https://instagram.com">
                            <i class="uil uil-instagram"></i>
                        </a>
                    </div>
                    <div class="home-img">
                        <svg class="home-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0" mask-type="alpha">
                                <path  d="M61.3,-34.4C71.2,-18.2,65.4,8.1,52.5,31.7C39.7,55.3,19.8,76.2,-4.3,
                                78.7C-28.5,81.2,-57,65.3,-71.4,40.8C-85.8,16.3,-86.1,-16.8,-71.9,-35.5C-57.6,-54.3,-28.8,
                                -58.7,-1.6,-57.8C25.7,-56.9,51.3,-50.7,61.3,-34.4Z" transform="translate(100 100)" />
                            </mask>
                            <g mask="url(#mask0)">
                                <path  d="M61.3,-34.4C71.2,-18.2,65.4,8.1,52.5,31.7C39.7,55.3,19.8,76.2,-4.3,
                                78.7C-28.5,81.2,-57,65.3,-71.4,40.8C-85.8,16.3,-86.1,-16.8,-71.9,-35.5C-57.6,-54.3,-28.8,
                                -58.7,-1.6,-57.8C25.7,-56.9,51.3,-50.7,61.3,-34.4Z" transform="translate(100 100)" />
                                <image class="home-blob-img" x='12' y='40' xlink:href="../static/img/Brandon.png"/>
                            </g>
                        </svg>
                    </div>
                    
                    <div class="home-data">
                        <h1 class="home-title">Hello, I'm Brandon!</h1>
                        <h3 class="home-subtitle">Production Engineering Fellow</h3>
                        <p class="home-description">I'm a third year college student majoring in Software Engineering</p>
                        <a href="#contact" class="button button-flex">
                            Contact Me <i class="uil uil-message button-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="home-scroll">
                    <a href="#about" class="home-scroll-button button-flex">
                        <span class="home-scroll-name">Scroll down</span>
                        <i class="uil uil-arrow-down home-scroll-arrow"></i>
                    </a>

                </div>
            </div>
        </section>

        <section class="about section">
            <h2 class="section-title" id="about">About Me</h2>
            <span class="section-subtitle">Hey there!</span>
            <div class="about-container container grid">
                <img src="../static/img/Aboutme.jpeg" alt="" class="about-img">
                <div class="about-data">
                    <p class="about-description">Lorem ipsum dolor sit amet,adipiscing. In vel eleifend neque. Etiam sit amet pulvinar massa.</p>
                    <div class="about-info">
                        <div>
                            <span class="about-info-title">19</span>
                            <span class="about-info-name">Years <br>Old</span>
                        </div>

                        <div>
                            <span class="about-info-title">04+</span>
                            <span class="about-info-name">Years <br> programming</span>
                        </div>

                        <div>
                            <span class="about-info-title">20+</span>
                            <span class="about-info-name">Repositories on <br>GitHub</span>
                        </div>
                    </div>
                    
                    <div class="about-buttons">
                        <a download="" href="../static/assets/Resume_BrandonMagana.pdf" class="button button-flex">
                            Download CV <i class="uil uil-download-alt button-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-bg">
            <div class="footer-container container grid">
                <div>
                    <h1 class="footer-title">Brandon</h1>
                    <span class="footer-subtitle">Software Developer</span>
                </div>
                <ul class="footer-links">
                    <li>
                        <a href="#experience" class="footer-link">Experience</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer-link">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contact-me" class="footer-link">Contact me</a>
                    </li>
                </ul>
                <div class="footer-socials">
                    <a class="footer-social" target="_blank" href="https://linkedin.com">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                
                    <a class="footer-social" target="_blank" href="https://github.com">
                        <i class="uil uil-github-alt"></i>
                    </a>
                
                    <a class="footer-social" target="_blank" href="https://instagram.com">
                        <i class="uil uil-instagram"></i>
                    </a>
                </div>
            </div>
            <p class="footer-copyright">&#169; Brandon Magaña. All rights reserved</p>
        </div>
    </footer>
    <a href="#" class="scroll-up" id="scroll-up">
        <i class="uil uil-arrow-up scroll-up-icon"></i>
    </a>
    <script src="./static/scripts/main.js"></script>
</body>
</html>